body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  margin: 0 0 5px 0;
  padding: 21px 0;
  background-color: black;
  color: #2BFEC0;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 97%;
}

li {
  list-style: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}

.col-headers {
  display: flex;
}

#article-header {
  width: 55%;
}

#author-header {
  width: 15%;
}

#words-header {
  width: 15%;
}

#submitted-header {
  width: 15%;
}

.col-headers {
  margin: 0 auto;
  padding: 0;
  width: 97%;
}

.col-headers div {
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.col-headers span {
  margin-right: 2px;
}

.article-item {
  display: flex;
}

.article-info-container {
  display: flex;
  width: 55%;
}

.article-info {
  width: 100%;
}

.article-link {
  display: flex;
}

.article-shares {
  display: flex;
  font-size: 12px;
}

.article-views {
  display: flex;
  font-size: 12px;
}

.tag-container {
  display: flex;
}

.tag {
  font-size: 12px;
  background-color: lightgray;
  margin: 0 2px;
  padding: 2px 2px;
  border-radius: 4px;
}

.author {
  width: 15%;
}

.words {
  width: 15%;
}

.submitted {
  width: 15%;
}
